body{
    main{
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        justify-content: center;
        @include respond-to('desktop'){
            flex-flow: row-reverse;
            align-items: flex-start;
         }
        .main__image{
            background-image: url("../images/image-hero-mobile.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 100%;
            @include respond-to('desktop'){
                background-image: url("../images/image-hero-desktop.png");
                height: 45em;
                margin-top: 5em;
            }
        }
        div{
            display: flex;
            flex-flow: column;
            align-items: center;
            gap: 1em;
            @include respond-to('desktop'){
            width: 100%;
            align-items: baseline;
            padding-left: 8em;
            }
            h1{
                text-align: center;
                font-weight: $fontbold;
                font-size: $fontsize;
                color: $black;
                @include respond-to('desktop'){
                    margin-top: 2.5em;
                    margin-bottom: 1em;
                    font-size: 5em;
                    font-weight: 700;
                    line-height: 1.2em;
                    text-align: left;
                    strong{
                        font-size: 1.6em;
                        display: block;
                    }
                }
            }
            p{
                text-align: center;
                font-size: 16px;
                width: 92%;
                line-height: 1.5em;
                color: $grey;
                @include respond-to('desktop'){
                   text-align: left;
                   font-size: 1.3em;
                   margin-bottom: 1em;

                }
            }
            a{
               text-decoration: none;
               padding: 0.8em 1.5em;
               background-color: $black;
               color:$white;
               border-radius: 12px;
               margin-top: 0.5em;
               @include respond-to('desktop'){

                font-size: 1.2em;
               }
            }
            footer{
                margin-top: 3em;
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0;
                    gap: 25px;
                    @include respond-to('desktop'){
                       align-items: flex-end;
                       gap: 60px;

                       }
                    li{
                        list-style: none;
                        img{
                            width: 75px;
                            @include respond-to('desktop'){
                            width: 100px;
                        }
                    }
                        &:nth-child(2){
                            img{
                                width: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}